@font-face {
  font-display: swap; 
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v32-cyrillic_latin-regular.woff2') format('woff2'); 
}

@font-face {
  font-display: swap; 
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v32-cyrillic_latin-700.woff2') format('woff2'); 
}

@font-face {
  font-display: swap; 
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/roboto-v32-cyrillic_latin-900.woff2') format('woff2'); 
}

@font-face {
  font-display: swap; 
  font-family: 'Play';
  font-weight: 400;
  src: url('../fonts/play-v19-cyrillic_latin-regular.woff2') format('woff2'); 
}

@font-face {
  font-display: swap; 
  font-family: 'Play';
  font-weight: 700;
  src: url('../fonts/play-v19-cyrillic_latin-700.woff2') format('woff2'); 
}

:root {
  --color-brand: #2b7fff;
  --color-primary: #011c44;
  --color-primary-dark: #000000;
  --color-primary-light: #ffffff;
  --color-header-comment: #4a4a4a;
}

/* Base */
body {
  font-family: 'Roboto';
  color: var(--color-primary);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
}

address{
  font-style: normal;
}

ul {
  list-style-type: none;
}

/* Logo */
.logo {
  font-family: 'Play';
  font-size: 22px;
  font-weight: 700;
  line-height: 0.95;
}

/* Button */
.button {
  color: var(--color-primary-light);
  background-color: var(--color-brand);
  border: 2px solid var(--color-brand);
  border-radius: 32px;
  cursor: pointer;
  font-weight: 600;
}

.button:hover {
  color: var(--color-primary);
  background-color: transparent;
}

.header-comment {
  color: var(--color-header-comment);
  font-size: 12px;
  line-height: 1.5;
}

/* Header Link */
.header-link {
  color: var(--color-primary);
  text-decoration: none;
}

.header-link:hover {
  color: var(--color-brand);
  font-weight: 700;
}

/* Hero section */
.hero-title {
  color: var(--color-brand);
  font-family: 'Play';
  font-size: 140px;
  font-weight: 700;
  line-height: 0.8;
}

/* Main Text */
.section-title-about {
  font-family: 'Play';
  text-align: left;
  font-size: 64px;
  font-weight: 700;
}

.section-title-about .accent {
  font-family: 'Play';
  color: var(--color-brand);
}

.section-title {
  font-family: 'Play';
  color: var(--color-primary);
  text-align: center;
  font-size: 64px;
}

.section-title .accent {
  font-family: 'Play';
  color: var(--color-brand);
}

.section-advantages {
  color: var(--color-primary-dark);
  line-height: 1.3;
}

.text-about-us {
  font-size: 22px;
  line-height: 1.7;
}

.text-about-us .accent {
  font-size: 22px;
  font-weight: 600;
}

.facial-masks {
  font-size: 22px;
}

/* Footer */

.contact-text {
  color: var(--color-primary-light);
  font-weight: 600;
  font-size: 22px;
  }

.contact-text .accent {
  color: var(--color-brand);
}

.footer-link {
  color: var(--color-primary-light);
  text-decoration: none;
  font-size: 16px;
}

.footer-link:hover {
  color: var(--color-brand);
  font-size: 16px;
}

.address-link {
  color: var(--color-primary-light);
  font-size: 16px;
   }

.address-link:hover {
    color: var(--color-brand);
    font-size: 16px;
  }

  .address-copyright {
    color: #747272;
    font-size: 13px;
  }